$breakpoints-list: xs, sm, md, lg, xl, "2xl", "3xl";

@function to-hex($num) {
  $num: round($num); // на всякий случай
  $high: floor($num / 16);
  $low: $num % 16;
  @return to-hex-digit($high) + to-hex-digit($low);
}

@function to-hex-digit($num) {
  @if $num == 0 { @return "0"; }
  @if $num == 1 { @return "1"; }
  @if $num == 2 { @return "2"; }
  @if $num == 3 { @return "3"; }
  @if $num == 4 { @return "4"; }
  @if $num == 5 { @return "5"; }
  @if $num == 6 { @return "6"; }
  @if $num == 7 { @return "7"; }
  @if $num == 8 { @return "8"; }
  @if $num == 9 { @return "9"; }
  @if $num == 10 { @return "a"; }
  @if $num == 11 { @return "b"; }
  @if $num == 12 { @return "c"; }
  @if $num == 13 { @return "d"; }
  @if $num == 14 { @return "e"; }
  @if $num == 15 { @return "f"; }
  @error "Invalid hex digit: #{$num}";
}
